{% extends 'base.html' %}

{% block title %} | Edit Event{% endblock %}

{% block content %}

<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4">
        <h3>make <strong>Changes</strong></h3>
      </div>
      <div class="span4"></div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">
        <div class="span3">
          <aside>
            <div class="widget">
                <h5 class="center">Edit Event</h5>
                <p>Make sure details of the update are accurate by editing the event.</p>
            </div>
          </aside>
        </div>
        <div class="span1"></div>
          <div id="errormessage"></div>
          <form action="{% url 'event-edit' application.id event.id %}" method="POST" role="form" enctype="multipart/form-data" class="contactForm span8">
            {% csrf_token %}
            <div class="row">
              <div class="span4 form-group">
                <select id="event_type" name="event_type">
                  <option {% if event.event_type == 'Application Submitted' %} selected {% endif %}>Application Submitted</option>
                  <option {% if event.event_type == 'Phone Screen' %} selected {% endif %}>Phone Screen</option>
                  <option {% if event.event_type == 'Technical Interview' %} selected {% endif %}>Technical Interview</option>
                  <option {% if event.event_type == 'On Site Interview' %} selected {% endif %}>On Site Interview</option>
                  <option {% if event.event_type == 'Job Offer' %} selected {% endif %}>Job Offer</option>
                  <option {% if event.event_type == 'Note' %} selected {% endif %}>Note</option>
                </select>
              </div>
              <div class="span4 form-group">
                <input type="date" class="form-control" id="event_date" name="event_date" {% if event.event_date %} value="{{ event.event_date }}" {% endif %} placeholder="Date of event" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <textarea class="form-control" name="event_text" rows="5" value="{{ event.event_text }}" placeholder="Describe the update here..."></textarea>
                <div class="validation"></div>
              </div>
              <div class="span1 form-group">
                <div class="text-center">
                  <button class="btn btn-color btn-rounded" type="submit" name="save">Save</button>
                </div>
              </div>
              <div class="blank10"></div>
              <div class="span1 form-group">
                <div class="text-center">
                  <a href="javascript:history.go(-1);"><button class="btn btn-rounded" type="button" name="cancel">Cancel</button></a>
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</section>



{% endblock %}