{% extends 'base.html' %}

{% block title %} | Add Event{% endblock %}

{% block content %}

<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4">
        <h3>Add a new <strong>event</strong></h3>
      </div>
      <div class="span4"></div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">
        <div class="span3">
          <aside>
            <div class="widget">
                <h5 class="center">New Event</h5>
                <p>Keep track of your applications by adding events. Choose a type and make a note describing the most recent update regarding the application status.</p>
            </div>
          </aside>
        </div>
        <div class="span1"></div>
          <div id="errormessage"></div>
          <form action="{% url 'event-add' application_id %}" method="POST" role="form" class="contactForm span8">
            {% csrf_token %}
            <div class="row">
              <div class="span4 form-group">
                <select id="event_type" name="event_type">
                  <option>Application Submitted</option>
                  <option>Phone Screen</option>
                  <option>Technical Interview</option>
                  <option>On Site Interview</option>
                  <option>Job Offer</option>
                  <option>Note</option>
                </select>
              </div>
              <div class="span4 form-group">
                <input type="date" class="form-control" id="event_date" name="event_date" placeholder="Date of event" />
                <div class="validation"></div>
              </div>
              <div class="span4 form-group">
                <textarea class="form-control" name="event_text" rows="5" placeholder="Describe the update here..."></textarea>
                <div class="validation"></div>
              </div>
              <div class="span1 form-group">
                <div class="text-center">
                  <button class="btn btn-color btn-rounded span1" type="submit" name="save">Add</button>
                </div>
              </div>
              <div class="span1 form-group">
                <div class="text-center">
                  <a href="javascript:history.go(-1);"><button class="btn btn-rounded span1" type="button" name="cancel">Cancel</button></a>
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</section>



{% endblock %}