{% extends 'base.html' %}

{% load static %}

{% block title %} | Event Tracking{% endblock %}

{% block content %}
    
<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4">
        <h3>events describe <strong>Applications</strong></h3>
      </div>
      <div class="span4"></div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">
      <aside>
        <div class="widget">
          <h4 class="text-success">This is an Event</h4>
          <h5>The date will be displayed here</h5>
          <p class="lead">This section describes what happened</p>
          <a href="#" class="btn btn-secondary btn-rounded">You can edit events</a>                
          <a class="btn btn-secondary btn-rounded" data-toggle="modal">Or delete events</a>
        </div>
      </aside>
    </div>
  </div>
</section>

{% endblock %}