    <header>
        <!-- Navbar
        ================================================== -->
        <div class="cbp-af-header">
        <div class=" cbp-af-inner">
            <div class="container">
            <div class="row">

                <div class="span4">
                <!-- logo -->
                <div class="logo">
                    <h1><a href="{% url 'index' %}">Otter</a></h1>
                    <!-- <img src="assets/img/logo.png" alt="" /> -->
                </div>
                <!-- end logo -->
                </div>

                <div class="span8">
                <!-- top menu -->
                <div class="navbar">
                    <div class="navbar-inner">
                    <nav>
                        <ul class="nav topnav">
                        <li 
                        {% if '/' == request.path %}
                            class="dropdown active"
                        {% else %}
                            class="dropdown"
                        {% endif %}
                        >
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li 
                        {% if '/dashboard' in request.path %}
                            class="dropdown active"
                        {% else %}
                            class="dropdown"
                        {% endif %}
                        >
                            <a href="{% url 'dashboard' %}">{{ user.username }}'s Dashboard</a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url 'application-add' %}">Add Application</a></li>
                            <li><a href="{% url 'applications' %}">View Applications</a></li>
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Icons</a></li>
                            <li><a href="#">Styled lists</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
                            <form id="logout" action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="#">Features</a>
                            <ul class="dropdown-menu">
                            <li><a href="#">Scaffolding</a></li>
                            <li><a href="#">Base CSS</a></li>
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Icons</a></li>
                            <li><a href="#">Styled lists</a></li>
                            </ul>
                        </li>
                        <li
                        {% if 'register' in request.path %}
                            class="dropdown active"
                        {% else %}
                            class="dropdown"
                        {% endif %}
                        >
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                        <li
                        {% if 'login' in request.path %}
                            class="dropdown active"
                        {% else %}
                            class="dropdown"
                        {% endif %}
                        >
                            <a href="{% url 'login' %}">Log In</a>
                        </li>
                        {% endif %}
                        </ul>
                    </nav>
                    </div>
                </div>
                <!-- end menu -->
                </div>

            </div>
            </div>
        </div>
        </div>
    </header>