    {% load static %}

    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
    <script src="{% static 'js/portfolio/setting.js' %}"></script>
    <script src="{% static 'js/hover/jquery-hover-effect.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.min.js' %}"></script>
    <script src="{% static 'js/jquery.refineslide.js' %}"></script>
    <script src="{% static 'js/jquery.ui.totop.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'js/contactform.js' %}"></script>

    <!-- Template Custom Javascript File -->
    <script src="{% static 'js/custom.js' %}"></script>
