{% extends 'base.html' %}

{% block title %} | Application Detail{% endblock %}

{% block content %}
    
  <section id="subintro">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>Application <strong>detail</strong></h3>
        </div>
        <div class="span8">
          <ul class="breadcrumb notop">
            <li><a href="{% url 'index' %}">Home</a><span class="divider">/</span></li>
            <li><a href="{% url 'applications' %}">Application List</a><span class="divider">/</span></li>
            <li class="active">{{ application.position }} @ {{ application.company }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <article>
            <div class="heading">
              <h3><strong>{{ application.position }} @ {{ application.company }}</strong></h3>
              <div class="progress progress-striped active">
                <div class="bar" style="width: 80%;"></div>
            </div>
            </div>
            
            <div class="clearfix">
            </div>
            <div class="row">
              <div class="span6">
                <div class="tabbable">
                <ul class="nav nav-tabs bold">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="icon-briefcase"></i> At a glace</a></li>
                    <li><a href="#two" data-toggle="tab"><i class="icon-list"></i> Description</a></li>
                    <li><a href="#three" data-toggle="tab"><i class="icon-info"></i> Info</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="one">
                        <aside>
                            <div class="widget">
                                <h4>Application Summary</h4>
                                <ul class="project-detail">
                                <li><label>Company Name :</label> Uber </li>
                                <li><label>Position :</label> Full Stack Engineer</li>
                                <li><label>Applied On :</label> 12 June 2013</li>
                                <li><label>Last Updated On :</label> 12 June 2013</li>
                                <li><label>Stage :</label> Technical Interview</li>
                                <li><label>Original Ad :</label><a href="#">www.websitelink.com</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="tab-pane" id="two">
                        <p>
                            Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
                        </p>
                        <p>
                            Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
                        </p>
                        </div>
                        <div class="tab-pane" id="three">
                        <aside>
                            <div class="widget">
                                <h4>Information</h4>
                                <ul class="project-detail">
                                <li><label>Resume :</label> filename </li>
                                <li><label>Cover Letter :</label> filename </li>
                                <li><label>Email Contact :</label> person@company.com</li>
                                <li><label>Portal URL :</label> <a href="#">www.website.com</a></li>
                                <li><label>Portal Username :</label> user</li>
                                <li><label>Portal Password :</label> pass</li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
              </div>
              </div>
              <div class="span6">
                <div class="blank20"></div>
                <div class="blank10"></div>
                <aside>
                    <div class="widget">
                        <h4>Event Type:</h4>
                        <h5>Date:</h5>
                        <p>
                        Cu cum noster euismod appellantur, mundi vitae vim ut, ea sea scripta expetendis vituperatoribus. Et cibo dicat impetus cum, id his quodsi scripserit. Nec purto habeo recteque eu. Posse oportere accusamus an sit, ex quando phaedrum sapientem ius. Perfecto
                        ocurreret no nam, eu quas cetero qui, vel ea minim nusquam salutatus. Nemore integre his ei, tollit eirmod eam at.
                        </p>
                    </div>
                </aside>
              </div>
            </div>
          </article>
          <!-- end article full post -->
        </div>
      </div>
    </div>
  </section>


{% endblock %}