{% extends 'base.html' %}

{% block title %} | Applications{% endblock %}

{% block content %}

<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>your <strong>Applications</strong></h3>
      </div>
      <div class="span8">
        <ul class="breadcrumb notop">
          <li><a href="{% url 'index' %}">Home</a><span class="divider">/</span></li>
          <li class="active">Applications</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span4">
        <aside>
          <div class="widget">
            <h4>Search</h4>
            <form class="form-search">
              <input placeholder="Type something" type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-flat btn-color">Search</button>
            </form>
          </div>
          <div class="widget">
            <h4>View Status</h4>
            <ul class="lead">
              <li><a href="{% url 'application-sort' 'Job Offer' %}">Offer ({{ template_data.Job_Offer }})</a>{% if '/sort/Job' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'application-sort' 'On Site Interview' %}">On Site ({{ template_data.On_Site_Interview }})</a>{% if '/sort/On' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'application-sort' 'Technical Interview' %}">Technical Interview ({{ template_data.Technical_Interview }})</a>{% if '/sort/Technical' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'application-sort' 'Phone Screen' %}">Phone Screen ({{ template_data.Phone_Screen }})</a>{% if '/sort/Phone' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'application-sort' 'Application Submitted' %}">Application Submitted ({{ template_data.Application_Submitted }})</a>{% if '/sort/Application' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'applications' %}">All Active ({{ template_data.All }})</a>{% if '/sort/' not in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>
              <li><a href="{% url 'application-sort' 'Archived' %}">View Archive ({{ template_data.Archived }})</a>{% if '/sort/Archived' in request.path %}<span> <i class="icon-search"></i></span>{% endif %}</li>            
            </ul>
          </div>
          <div class="widget">
            <h4>Recent Active Applications</h4>
            <ul class="recent-posts lead">
            {% if recent_apps %}
            {% for app in recent_apps %}
              <li><a href="{% url 'detail' app.id %}">{{ app.position }} @ {{ app.company }}</a>
                <div class="clear">
                </div>
                <span class="date"><i class="icon-calendar"></i> {{ app.date }}</span>
                <span class="comment"><i class="icon-comment"></i> {{ app.number_of_events }} Event(s)</span>
              </li>
            {% endfor %}
            {% endif %}
            </ul>
          </div>
        </aside>
      </div>
      <div class="span8">
        <!-- start application -->
        {% if applications %}
          {% for application in applications %}

          {% include 'applications/_application-delete.html' %}
          {% include 'applications/_status-modal.html' %}

           <article class="blog-post">
            <div class="post-heading">
              <h3><a href="{% url 'detail' application.id %}">{{ application.position }} @ {{ application.company }}</a></h3>
            </div>
            <div class="row">
              <div class="span3">
                <div class="post-icon">
                  <a class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#statusModal{{ application.id }}"><i class="icon-bg-dark icon-circled {{ application.icon }} icon-3x active"></i></a>
                </div>
                <ul class="post-meta">
                  <li><i class="icon-list-alt"></i><span>{{ application.number_of_events }} Event(s)</span></li>
                  <li class="first"><i class="icon-calendar"></i><span>Last modified:</span></li>
                  <li class="last"><span>{{ application.date }}</span></li>
                </ul>
                <div class="clear"></div>
              </div>
              <div class="span5">
                <div class="progress progress-striped">
                  <div class="bar" style="width: {{ application.progress }}%;"></div>
                </div>
                <p>
                  {{ application.recent_event.event_text }}
                </p>
                <a href="{% url 'detail' application.id %}" class="btn btn-color btn-rounded">View detail</a>
                <a href="{% url 'application-edit' application.id %}" class="btn btn-secondary btn-rounded">Edit</a>                
                <a class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#deleteModal{{ application.id }}">Delete</a>
                <a class="btn btn-info btn-rounded" href="javascript:{document.getElementById('archive{{ application.id }}').submit()}">{% if application.is_active %}Archive{% else %}Unarchive{% endif %}</a>
                <form id="archive{{ application.id }}" action="{% url 'archive' application.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="archive" value="{% if application.is_active %}False{% else %}True{% endif %}">
                  <input type="hidden" name="next" value="{{ request.path }}">
                </form>
              </div>
            </div>
          </article>

        {% endfor %}
        {% else %}

        <div>
          <h2>No applications.</h2>
          <h5>Click <a href="{% url 'application-add' %}">here</a> to add an application.</h5>
        </div>

        {% endif %}
        <!-- end application -->

      <div class="span7">
        <aside>
          <div class="widget">
          <br><br>
          <h3 class="text-center"><strong><a href="{% url 'application-add' %}"><i class="icon-circled icon-3x icon-plus"></i> Add Application</a></strong></h3>
          </div>
        </aside>
      </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}