{% extends 'base.html' %}

{% block title %} | Application Detail{% endblock %}

{% block content %}
    
  <section id="subintro">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>Application <strong>detail</strong></h3>
        </div>
        <div class="span8">
          <ul class="breadcrumb notop">
            <li><a href="{% url 'index' %}">Home</a><span class="divider">/</span></li>
            <li><a href="{% url 'applications' %}">Application List</a><span class="divider">/</span></li>
            <li class="active">{{ application.position }} @ {{ application.company }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <article>
            <div class="heading">
              <h3><strong>{{ application.position }} @ {{ application.company }}</strong></h3>
              <div class="progress {% if progress == 100 %} progress-success {% else %} progress-striped active {% endif %}">
                <div class="bar" style="width: {{ progress }}%;"></div>
            </div>
            </div>
            
            <div class="clearfix">
            </div>
            <div class="row">
              <div class="span6">
                <div class="tabbable">
                <ul class="nav nav-tabs bold">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="icon-briefcase"></i> At a glace</a></li>
                    <li><a href="#two" data-toggle="tab"><i class="icon-list"></i> Description</a></li>
                    <li><a href="#three" data-toggle="tab"><i class="icon-info"></i> Info</a></li>
                    <li><a href="{% url 'application-edit' application.id %}"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a href="{% url 'event-add' application.id %}"><i class="icon-plus"></i> Event</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="one">
                        <aside>
                            <div class="widget">
                                <h4>Application Summary</h4>
                                <ul class="project-detail">
                                <li><label>Company Name :</label> {{ application.company }} </li>
                                <li><label>Position :</label> {{ application.position }} </li>
                                {% if application.applied_on %}<li><label>Applied On :</label> 12 June 2013</li>{% endif %}
                                {% comment %} {% if  %}<li><label>Last Updated On :</label> 12 June 2013</li>{% endif %} {% endcomment %}
                                <li><label>Stage :</label> Technical Interview</li>
                                {% if application.posting_url %}<li><label>Original Ad :</label><a href="{{ application.posting_url }}">Click here</a></li>{% endif %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="tab-pane" id="two">
                      {% if application.body %}
                        <p>{{ application.body }}</p>
                      {% else %}
                        <p>Copy the posting text into the 'Body' field when adding an application to save it and view it here.</p>
                      {% endif %}
                    </div>
                    <div class="tab-pane" id="three">
                      <aside>
                        <div class="widget">
                          <h4>Information</h4>
                          <ul class="project-detail">
                            {% if application.resume %}<li><label>Resume :</label> <a href="">View</a> </li>{% endif %}
                            <li><label>Cover Letter :</label> filename </li>
                            <li><label>Email Contact :</label> person@company.com</li>
                            <li><label>Portal URL :</label> <a href="#">www.website.com</a></li>
                            <li><label>Portal Username :</label> user</li>
                            <li><label>Portal Password :</label> pass</li>
                          </ul>
                        </div>
                      </aside>
                    </div>
                </div>
              </div>
              </div>
              <div class="span6">
                <div class="blank20"></div>
                <div class="blank10"></div>
                  {% if events %}
                    {% for event in events %}
                    {% include 'events/_event-delete.html' %}
                    <aside>
                      <div class="widget">
                        <h4 class="text-success">{{ event.event_type }}</h4>
                        <h5>{{ event.event_date }}</h5>
                        <p class="lead">{{ event.event_text }}</p>
                        <a href="{% url 'event-edit' application.id event.id %}" class="btn btn-secondary btn-rounded">Edit</a>                
                        <a class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#deleteModal{{ event.id }}">Delete</a>
                      </div>
                    </aside>
                    {% endfor %}
                    {% else %}
                    <h3><strong>This is where events will be displayed.</strong></h3>
                    <h4>Events help track and update your application.</h4>
                  {% endif %}
              </div>
            </div>
          </article>
          <!-- end article full post -->
        </div>
      </div>
    </div>
  </section>


{% endblock %}